---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>About TGC</h1>
  <p>
    This is simply a markdown tech blog to document my learning and development
    process
  </p>
</BaseLayout>
