<header class="border-b border-b-slate-100/50">
  <div class="px-8 py-4 flex justify-between font-bold">
    <div><a href="/"><h2 class="text-lg">The Garbage Collection</h2></a></div>
    <div>
      <nav class="text-lime-100">
        <a href="/categories/">Categories</a>
        <a href="/about/">About</a>
      </nav>
    </div>
  </div>
</header>
